<h1>Listing apartments</h1>

<%= render :partial => "apartments/list", :locals => {
  :building => @building,
  :apartments => @apartments
} %>

<br />

<%= link_to 'New Apartment', new_building_apartment_path(@building) %> | 
<%= link_to 'Back to building', @building %>
